html, body {
  margin: 0;
  padding: 0;
  background: #c8c5c5; }

* {
  box-sizing: border-box; }

h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 24px; }

h3 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px; }

@media all and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0; } }

header {
  background: #fff; }
  header nav {
    padding: 0 15px; }
    header nav .navbar-brand {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    header nav .navbar-collapse {
      text-transform: uppercase;
      justify-content: flex-end; }

.carousel-control-prev {
  left: -30px; }

.carousel-control-next {
  right: -30px; }

.carousel-control-prev-icon {
  background-image: url("../image/left-arrow.svg"); }

.carousel-control-next-icon {
  background-image: url("../image/right-arrow.svg"); }

.slick-initialized.slider-nav {
  width: 80%; }

#carouselExampleIndicators .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #carouselExampleIndicators .carousel-item img {
    visibility: hidden;
    width: 100%;
    height: 50vmin; }
  #carouselExampleIndicators .carousel-item .carousel-caption {
    text-align: left;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #carouselExampleIndicators .carousel-item .carousel-caption ul li {
      margin-left: 1.3em;
      font-size: 12px; }
    #carouselExampleIndicators .carousel-item .carousel-caption p {
      font-size: 12px; }
    #carouselExampleIndicators .carousel-item .carousel-caption button {
      text-transform: uppercase;
      font-size: 12px; }
#carouselExampleIndicators .carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: 0px 5px; }
  #carouselExampleIndicators .carousel-indicators li.active {
    background: gray; }

.our-client {
  text-align: center;
  padding: 4vmin 15px;
  background: #fff; }
  .our-client h2 {
    padding-top: 0;
    margin: 2vmin 0; }
    .our-client h2:first-child {
      margin-top: 0; }
  .our-client img {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 5px; }

.our-camp {
  text-align: center;
  padding: 4vmin 15px;
  background: #949292; }
  .our-camp .title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem; }
    @media all and (max-width: 768px) {
      .our-camp .title {
        width: 80%; } }
  .our-camp .row {
    max-width: calc(100% - $padding);
    margin: 0 auto; }
    .our-camp .row .card {
      padding: 0;
      border: none;
      border-radius: 0; }
      .our-camp .row .card img {
        height: 15rem; }
      .our-camp .row .card .card-body {
        padding: 1rem; }

.testimonials {
  text-align: center;
  padding: 2rem 15px;
  background: #fff; }
  .testimonials h2 {
    margin-bottom: 2rem; }
  .testimonials .autoplay .slick-prev:before, .testimonials .autoplay .slick-next:before {
    color: gray; }
  .testimonials .autoplay .slick-prev {
    left: -15px;
    z-index: 100; }
  .testimonials .autoplay .slick-next {
    right: -15px;
    z-index: 100; }
  .testimonials .autoplay .row {
    margin: 0; }
    .testimonials .autoplay .row .cap {
      text-align: left; }
      @media all and (max-width: 576px) {
        .testimonials .autoplay .row .cap {
          margin-top: 1rem; } }
      .testimonials .autoplay .row .cap h3 {
        font-weight: bold;
        margin-bottom: 0; }
      .testimonials .autoplay .row .cap span {
        font-style: italic;
        text-transform: capitalize; }
      .testimonials .autoplay .row .cap p {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 0.5em; }

.journey {
  background: #949292;
  padding: 2rem 15px; }
  .journey .row {
    align-items: center; }
    .journey .row .text ul {
      margin-bottom: 0.5em; }
      .journey .row .text ul li {
        margin-left: 1.3em;
        font-size: 17px;
        line-height: 1.1; }
    .journey .row .text .btn {
      text-transform: uppercase;
      margin-top: 0.5em; }
    @media all and (max-width: 576px) {
      .journey .row .image {
        margin-top: 1rem; } }
    .journey .row .image img {
      width: 100%;
      height: auto; }

footer {
  font-size: 12px;
  padding: 1rem 15px;
  background: #fff; }
  footer .footer-logo {
    padding-left: 10%; }
    @media all and (max-width: 576px) {
      footer .footer-logo {
        padding-left: 15px; } }
    footer .footer-logo img {
      width: 70px;
      height: auto; }
    footer .footer-logo p {
      margin: 0;
      font-size: 12px;
      text-transform: capitalize; }
  footer .menu {
    text-transform: uppercase;
    text-align: center; }
    footer .menu span {
      margin: 0 1vmin; }
    @media all and (max-width: 576px) {
      footer .menu {
        text-align: left; }
        footer .menu span {
          display: block; } }
  @media all and (max-width: 576px) {
    footer .social {
      margin-top: 0.5rem; } }
  footer .social span {
    text-transform: uppercase;
    display: block; }
  footer .social img {
    width: 35px;
    height: 35px;
    display: inline-block; }

.curriculum {
  padding: 3rem 15px;
  background: #fff; }
  .curriculum .foundation {
    margin: 1rem 0; }
    .curriculum .foundation .slick-prev {
      z-index: 100;
      left: 0; }
      .curriculum .foundation .slick-prev::before {
        color: gray; }
    .curriculum .foundation .slick-next {
      right: 0;
      z-index: 100; }
      .curriculum .foundation .slick-next::before {
        color: gray; }
    .curriculum .foundation .slick-slide img {
      width: 100%; }
    .curriculum .foundation .slick-slide .card-body .card-title {
      position: absolute;
      top: 1em;
      left: 1em; }

.blockchain {
  padding: 3rem 15px;
  background: #949292;
  text-align: center; }
  .blockchain h2 {
    width: 60%;
    line-height: 1.3;
    margin: 0 auto 2rem; }
  .blockchain iframe {
    margin: 0;
    border: 0; }

.our-staff {
  padding: 3rem 15px;
  background: #fff; }
  .our-staff h2 {
    text-align: center;
    margin-bottom: 1em; }
  .our-staff .staff .slick-prev {
    z-index: 100;
    left: -15px; }
    .our-staff .staff .slick-prev::before {
      color: gray; }
  .our-staff .staff .slick-next {
    right: -15px;
    z-index: 100; }
    .our-staff .staff .slick-next::before {
      color: gray; }
  .our-staff .staff .card {
    background: none;
    border: none; }
    .our-staff .staff .card .top {
      height: 4.5em;
      position: relative;
      padding-left: 6rem; }
      .our-staff .staff .card .top img {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        left: 0;
        top: 0; }
      .our-staff .staff .card .top .info h3 {
        text-transform: capitalize; }

.trips {
  position: relative;
  padding: 3rem 0; }
  .trips h2 {
    text-align: center; }
  .trips .slider {
    width: 100%;
    margin: 20px auto; }
  .trips .slick-slide {
    margin: 0px 20px; }
  .trips .slick-slide img {
    width: 100%; }
  .trips .slick-prev:before,
  .trips .slick-next:before {
    color: black; }
  .trips .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2; }
  .trips .slick-active {
    opacity: 0.5; }
  .trips .slick-current {
    opacity: 1; }
  .trips .slick-dots {
    display: none !important; }
  .trips .image-for {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vmin; }
  .trips .image-nav {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15vmin; }
  .trips .slider-for .slick-slide {
    margin: 0px; }
  .trips .slick-prev {
    z-index: 100;
    left: 0; }
    .trips .slick-prev::before {
      color: gray; }
  .trips .slick-next {
    right: 0;
    z-index: 100; }
    .trips .slick-next::before {
      color: gray; }

.faq h2 {
  text-align: center; }
.faq .group {
  margin-bottom: 1rem; }
  .faq .group button {
    width: 100%;
    background: #949292;
    text-align: left; }

/*# sourceMappingURL=main.css.map */
