@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?1r3ic4");
  src: url("../fonts/icomoon.eot?1r3ic4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1r3ic4") format("truetype"), url("../fonts/icomoon.woff?1r3ic4") format("woff"), url("../fonts/icomoon.svg?1r3ic4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right:before {
  content: "\ea3c"; }

.icon-left:before {
  content: "\ea40"; }

html, body {
  margin: 0;
  padding: 0;
  background: #c8c5c5; }

* {
  box-sizing: border-box; }

@media all and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0; } }

header {
  background: #fff; }
  header nav {
    padding: 0 15px; }
    header nav .navbar-brand {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    header nav .navbar-collapse {
      text-transform: uppercase;
      justify-content: flex-end; }

.carousel-control-prev {
  left: -30px; }

.carousel-control-next {
  right: -30px; }

.carousel-control-prev-icon {
  background-image: url("../image/left-arrow.svg"); }

.carousel-control-next-icon {
  background-image: url("../image/right-arrow.svg"); }

.slick-initialized.slider-nav {
  width: 80%; }

.panel .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .panel .carousel-item img {
    visibility: hidden;
    width: 100%;
    height: 50vmin; }
.panel .carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: 0px 5px; }
  .panel .carousel-indicators li.active {
    background: gray; }

.logo {
  text-align: center;
  padding: 4vmin 15px;
  background: white; }
  .logo h2 {
    text-transform: uppercase;
    padding-top: 0;
    margin: 2vmin 0;
    line-height: 1; }
    .logo h2:first-child {
      margin-top: 0; }
  .logo span {
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin: 0 5px; }

.our-camp {
  text-align: center;
  padding: 4vmin 15px;
  background: #949292; }
  .our-camp .title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem; }
    @media all and (max-width: 768px) {
      .our-camp .title {
        width: 80%; } }
  .our-camp .row {
    max-width: calc(100% - $padding);
    margin: 0 auto; }
    .our-camp .row .card {
      padding: 0;
      border: none;
      border-radius: 0; }
      .our-camp .row .card img {
        height: 15rem; }
      .our-camp .row .card .card-body {
        padding: 1rem; }

.testimonials {
  text-align: center;
  padding: 2rem 15px;
  background: #fff; }
  .testimonials h2 {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .testimonials .carousel .carousel-inner .carousel-item {
    padding-left: 8%;
    padding-right: 8%; }
    .testimonials .carousel .carousel-inner .carousel-item .image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .testimonials .carousel .carousel-inner .carousel-item .cap {
      text-align: left; }
      .testimonials .carousel .carousel-inner .carousel-item .cap h3 {
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0; }
      .testimonials .carousel .carousel-inner .carousel-item .cap p {
        font-size: 12px; }
    @media all and (max-width: 768px) {
      .testimonials .carousel .carousel-inner .carousel-item .row .row {
        margin-top: 2rem; } }

.journey {
  background: #949292;
  padding: 2rem 15px; }
  .journey .row {
    align-items: center; }
    .journey .row .text h2 {
      font-size: 24px;
      text-transform: uppercase; }
    .journey .row .text ul {
      margin-bottom: 0.5em; }
      .journey .row .text ul li {
        margin-left: 1.3em;
        font-size: 17px;
        line-height: 1.1; }
    .journey .row .text .btn {
      text-transform: uppercase;
      margin-top: 0.5em; }
    @media all and (max-width: 576px) {
      .journey .row .image {
        margin-top: 1rem; } }
    .journey .row .image img {
      width: 100%;
      height: auto; }

footer {
  font-size: 12px;
  padding: 1rem 15px;
  background: #fff; }
  footer .footer-logo {
    padding-left: 10%; }
    @media all and (max-width: 576px) {
      footer .footer-logo {
        padding-left: 15px; } }
    footer .footer-logo img {
      width: 70px;
      height: auto; }
    footer .footer-logo p {
      margin: 0;
      font-size: 12px;
      text-transform: capitalize; }
  footer .menu {
    text-transform: uppercase;
    text-align: center; }
    footer .menu span {
      margin: 0 1vmin; }
    @media all and (max-width: 576px) {
      footer .menu {
        text-align: left; }
        footer .menu span {
          display: block; } }
  @media all and (max-width: 576px) {
    footer .social {
      margin-top: 0.5rem; } }
  footer .social span {
    text-transform: uppercase;
    display: block; }
  footer .social img {
    width: 35px;
    height: 35px;
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
