html, body {
  margin: 0;
  padding: 0;
  background: #c8c5c5;
}

* {
  box-sizing: border-box;
}
h2{
    line-height: 1;
    text-transform: uppercase;
    font-size: $size-h2;
}
h3{
    line-height: 1;
    text-transform: uppercase;
    font-size: $size-h3;
}
.container{
    @media all and (max-width: 992px){
        max-width: 100%;
        padding: 0;
    }
}
header{
    background: $bg-white;
    nav{
        padding: 0 $padding;
        .navbar-brand{
            width: 40px;
            height: 40px;
            @include background-image;
        }
        .navbar-collapse{
            text-transform: uppercase;
            justify-content: flex-end;
        }
    }
}
.carousel-control-prev{
    left: -30px;
}
.carousel-control-next{
    right: -30px;
}
.carousel-control-prev-icon{
    background-image: url('../image/left-arrow.svg');
}
.carousel-control-next-icon{
    background-image: url('../image/right-arrow.svg');
}
.slick-initialized.slider-nav{
    width: 80%;
}
#carouselExampleIndicators{
    .carousel-item{
        @include background-image;
        img{
            visibility: hidden;
            width: 100%;
            height: 50vmin;
        }
        .carousel-caption{
            text-align: left;
            top: 50%;
            @include translateY(-50%);
            ul{
                li{
                    margin-left: 1.3em;
                    font-size: $size-small;
                }
            }
            p{
                font-size: $size-small;
            }
            button{
                text-transform: uppercase;
                font-size: $size-small;
            }
        }
    }
    .carousel-indicators li{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $bg-white;
        margin: 0px 5px;
        &.active{
            background: $color-active;
        }
    }
}
.our-client{
    text-align: center;
    padding: 4vmin $padding;
    background: $bg-white;
    h2{
        padding-top: 0;
        margin: 2vmin 0;
        &:first-child{
            margin-top: 0;
        }
    }
    img{
        width: 100px;
        height: 40px;
        display: inline-block;
        margin: 0 5px;
    }
}
.our-camp{
    text-align: center;
    padding: 4vmin $padding;
    background: $bg-gray;
    .title{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        @media all and (max-width: 768px){
            width: 80%;
        }
    }
    .row{
        max-width: calc(100% - $padding);
        margin: 0 auto;
        .card{
            padding: 0;
            border: none;
            border-radius: 0;
            img{
                height: 15rem;
            }
            .card-body{
                padding: 1rem;
            }
        }
    }
}
.testimonials{
    text-align: center;
    padding: 2rem $padding;
    background: $bg-white;
    h2{
        margin-bottom: 2rem;
    }
    .autoplay{
        .slick-prev:before, .slick-next:before{
            color: $color-active;
        }
        .slick-prev{
           left: -15px;
            z-index: 100;
        }
        .slick-next{
           right: -15px;
            z-index: 100;
        }
        .row{
            margin: 0;
            .cap{
                @media all and(max-width: 576px){
                    margin-top: 1rem;
                }
                text-align: left;
                h3{
                    font-weight: bold;
                    margin-bottom: 0;
                }
                span{
                    font-style: italic;
                    text-transform: capitalize;
                }
                p{
                    font-size: $size-small;
                    margin-bottom: 0;
                    margin-top: 0.5em;
                }
            }
           
        }
    }
}
.journey{
    background: $bg-gray;
    padding: 2rem $padding;
    .row{
        align-items: center;
        .text{
            // padding-left: 5%;
            // @media all and (max-width: 982px){
            //     padding-left: 15px;
            // }
            
            ul{
                margin-bottom: 0.5em;
                li{
                    margin-left: 1.3em;
                    font-size: $size-small + 5;
                    line-height: 1.1;
                }
            }
            .btn{
                text-transform: uppercase;
                margin-top: 0.5em;
            }
        }
        .image{
            @media all and (max-width: 576px){
                margin-top: 1rem;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        
    }
}
footer{
    font-size: $size-small;
    padding: 1rem $padding;
    background: $bg-white;
    .footer-logo{
        padding-left: 10%;
        @media all and (max-width: 576px){
            padding-left: $padding;
        }
        img{
            width: 70px;
            height: auto;
        }
        p{
            margin: 0;
            font-size: $size-small;
            text-transform: capitalize;
        }
    }
    .menu{
        text-transform: uppercase;
        text-align: center;
        span{
            margin: 0 1vmin;
            
        }
        @media all and (max-width: 576px){
            text-align: left;
            span{
                display: block;
            }     
        }
    }
    .social{
        @media all and (max-width: 576px){
            margin-top: 0.5rem;
        }
        span{
            text-transform: uppercase;
            display: block;
        }
        img{
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }
}