.slick-arrow{
    @include opacity(0.5);
    &:hover{
        @include opacity(0.9);
    }
}
.slick-prev:before, .slick-next:before{
    display: none;
}
.slick-prev{
    height: 25px;
    left: -30px;
    z-index: $Z-index1;
    background-image: url('../image/svg/left-arrow.svg');
    @include background-image;
    @media all and (max-width: 576px){
        left: -15px;
    }
    @media all and (min-width: 992px){
        left: -75px;
    }
    &:hover, &:focus{
        background: url('../image/svg/left-arrow.svg');
        @include background-image;
    }
}
.slick-next{
    right: -30px;
    height: 25px;
    z-index: $Z-index1;
    background-image: url('../image/svg/right-arrow.svg');
    @include background-image;
    @media all and (max-width: 576px){
        right: -15px;
    }
    @media all and (min-width: 992px){
        right: -75px;
    }
    &:hover, &:focus{
        background: url('../image/svg/right-arrow.svg');
         @include background-image;
    }
}
.btn{
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: $size-normal - 2;
    font-weight: $bold;
    border-radius: 7px;
    @include transition(all 0.2s ease-in-out);
    &:hover{
        color: $color-white;
    }


}
.btn-blue{
    background: $bg-blue;
    color: $color-white;
    &:hover{
        background: $blue-hover;
    }
    &:focus{
        background: $blue-hover;
        outline: 0;
        box-shadow: none;
    }
}

.btn-light{
    background: $bg-white;
    border: 1px solid $color-black;
    color: $color-black-light;
    &:hover{
        background: $light-hover;
        color: $color-white;
    }
     &:focus{
        background: $light-hover;
        color: $color-white;
        box-shadow: none;
    }
}
#scroll-down{
    position: absolute;
    bottom: 0;
    left: 50%;
    @include translate(-50%,0);
    background: none;
    font-size: $size-normal - 2;
    color: $color-gray;
    font-weight: $light;
    z-index: $Z-index1;
    span{
       @include hover($color-gray);
    }
    @media all and (max-width: 576px){
        display: none;
    }
    @include transition(all 0.2s ease-in-out);
    
    &:hover{
        box-shadow: none;

        
    }

}