/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?amfv0a");
  src: url("../fonts/icomoon.eot?amfv0a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?amfv0a") format("truetype"), url("../fonts/icomoon.woff?amfv0a") format("woff"), url("../fonts/icomoon.svg?amfv0a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-copyright:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

@keyframes to-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@-webkit-keyframes to-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes to-top {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes to-top {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important; }

* {
  box-sizing: border-box; }

h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700; }
  @media all and (max-width: 576px) {
    h2 {
      font-size: 24px; } }

h3 {
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px; }

a:focus, button:focus {
  outline: 0; }

section {
  padding: 2rem 100px; }
  @media all and (max-width: 992px) {
    section {
      padding: 2rem 50px; } }
  @media all and (max-width: 576px) {
    section {
      padding: 2rem 16px; } }

#scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: none;
  font-size: 14px;
  color: #D4D4D4;
  font-weight: 100; }
  @media all and (max-width: 576px) {
    #scroll-down {
      display: none; } }

.ha-header-hide {
  -webkit-animation: to-top 0.2s ease-in-out;
  animation: to-top 0.2s ease-in-out; }

.ha-header-show {
  -webkit-animation: to-down 0.2s ease-in-out;
  animation: to-down 0.2s ease-in-out; }

.btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); }

button:hover {
  box-shadow: 0px 15px 10px 0px rgba(35, 35, 35, 0.5); }

.container {
  position: relative; }
  @media all and (max-width: 992px) {
    .container {
      max-width: 100%;
      padding: 0; } }
  @media all and (min-width: 992px) {
    .container {
      max-width: 1440px;
      padding: 0; } }

header {
  margin-top: 1em;
  background: transparent;
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%; }
  @media all and (max-width: 992px) {
    header {
      padding: 0 50px; } }
  @media all and (max-width: 576px) {
    header {
      padding: 0 16px; } }
  header nav.navbar {
    padding-left: 0;
    padding-right: 0; }
    header nav.navbar .navbar-brand {
      width: 100px;
      height: auto;
      padding: 0; }
      @media all and (max-width: 576px) {
        header nav.navbar .navbar-brand {
          width: 70px; } }
      header nav.navbar .navbar-brand img {
        width: 100%; }
      header nav.navbar .navbar-brand .logo-fixed {
        display: none; }
    header nav.navbar .navbar-toggler {
      border: 0;
      padding: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      header nav.navbar .navbar-toggler:hover {
        background: none; }
      header nav.navbar .navbar-toggler:focus {
        background: none;
        outline: 0; }
    header nav.navbar .navbar-collapse {
      text-transform: uppercase;
      justify-content: flex-end; }
    header nav.navbar .navbar-nav .nav-item .nav-link {
      color: #fff;
      font-size: 16px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      @media all and (max-width: 992px) {
        header nav.navbar .navbar-nav .nav-item .nav-link {
          text-align: right; }
          header nav.navbar .navbar-nav .nav-item .nav-link:hover {
            font-weight: bold; } }
      @media all and (max-width: 576px) {
        header nav.navbar .navbar-nav .nav-item .nav-link {
          font-size: 12px; } }
      header nav.navbar .navbar-nav .nav-item .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0.25rem;
        width: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      header nav.navbar .navbar-nav .nav-item .nav-link:focus {
        outline: 0;
        color: #fff; }
    header nav.navbar .navbar-nav .nav-item.active .nav-link, header nav.navbar .navbar-nav .nav-item:hover .nav-link {
      color: #fff;
      position: relative; }
      header nav.navbar .navbar-nav .nav-item.active .nav-link::after, header nav.navbar .navbar-nav .nav-item:hover .nav-link::after {
        border-bottom: 1px solid #fff; }
        @media all and (max-width: 992px) {
          header nav.navbar .navbar-nav .nav-item.active .nav-link::after, header nav.navbar .navbar-nav .nav-item:hover .nav-link::after {
            border-bottom: none; } }
    header nav.navbar .navbar-nav .nav-item.active {
      font-weight: 600; }
  @media all and (min-width: 992px) {
    header.to-fixed {
      position: fixed;
      margin-top: 0;
      background: #fff;
      border: 1px solid #F3F3F3; }
      header.to-fixed nav.navbar .navbar-brand .logo-fixed {
        display: block; }
      header.to-fixed nav.navbar .navbar-brand .logo-normal {
        display: none; }
      header.to-fixed nav.navbar .navbar-nav .nav-item .nav-link {
        font-size: 15px;
        color: #262626; }
        header.to-fixed nav.navbar .navbar-nav .nav-item .nav-link::after {
          content: '';
          position: absolute;
          bottom: 0.25rem;
          left: 25%;
          width: 50%;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        header.to-fixed nav.navbar .navbar-nav .nav-item .nav-link:focus {
          outline: 0;
          color: #0685F3; }
      header.to-fixed nav.navbar .navbar-nav .nav-item.active .nav-link, header.to-fixed nav.navbar .navbar-nav .nav-item:hover .nav-link {
        color: #0685F3;
        position: relative; }
        header.to-fixed nav.navbar .navbar-nav .nav-item.active .nav-link::after, header.to-fixed nav.navbar .navbar-nav .nav-item:hover .nav-link::after {
          border-bottom: 1px solid #0685F3; } }

footer {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 1rem 100px;
  background: #fff;
  overflow: hidden; }
  footer .footer-logo {
    text-align: center; }
    footer .footer-logo img {
      width: 70px;
      height: auto; }
    footer .footer-logo .email {
      font-size: 15px;
      display: block;
      color: #262626;
      padding-top: 1rem; }
      @media all and (max-width: 576px) {
        footer .footer-logo .email {
          font-size: 14px;
          padding-top: 0; } }
      footer .footer-logo .email:hover {
        text-decoration: none;
        font-weight: bold; }
  footer .menu {
    justify-content: center;
    align-items: center; }
    footer .menu ul {
      list-style-type: none;
      width: 100%;
      margin: 0;
      text-align: center; }
      footer .menu ul li {
        display: inline-block;
        margin-right: 2vmin; }
        footer .menu ul li a {
          color: #333;
          text-transform: uppercase;
          font-size: 15px;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          @media all and (max-width: 576px) {
            footer .menu ul li a {
              font-size: 14px; } }
          footer .menu ul li a:hover {
            text-decoration: none;
            font-weight: bold; }
        footer .menu ul li:nth-child(3) {
          margin-right: 0; }
  footer .social {
    text-align: right;
    justify-content: flex-end;
    align-items: center; }
    footer .social a {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      footer .social a:hover {
        text-decoration: none;
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari */
        transform: scale(1.1); }
      footer .social a span {
        margin: 0 2vmin;
        color: #333;
        font-size: 20px; }
  footer .copy-right {
    text-align: center; }
    footer .copy-right p {
      margin: 0;
      font-size: 15px;
      text-transform: capitalize;
      margin-top: -1.5rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: auto;
      margin-right: auto; }
      footer .copy-right p .icon-copyright {
        margin: 0 3px; }
      @media all and (max-width: 576px) {
        footer .copy-right p {
          font-size: 14px;
          margin-top: 0; } }
  @media all and (max-width: 992px) {
    footer {
      padding: 1rem 50px; } }
  @media all and (max-width: 576px) {
    footer {
      padding: 1rem 16px; }
      footer .footer-logo {
        text-align: center; }
        footer .footer-logo .email {
          margin: 1rem 0; }
      footer .social {
        justify-content: center;
        margin: 1rem 0; } }

.carousel-control-prev {
  left: 20px;
  top: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  @media all and (max-width: 576px) {
    .carousel-control-prev {
      top: 55%; } }

.carousel-control-next {
  top: 60%;
  right: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  @media all and (max-width: 576px) {
    .carousel-control-next {
      top: 55%; } }

.carousel-control-prev-icon {
  background-image: url("../image/svg/left-arrow.svg"); }

.carousel-control-next-icon {
  background-image: url("../image/svg/right-arrow.svg"); }

.slick-initialized.slider-nav {
  width: 80%; }

#carouselExampleIndicators {
  padding: 0; }
  #carouselExampleIndicators .caption {
    text-align: left;
    position: absolute;
    z-index: 100;
    color: #fff;
    top: 60%;
    left: 100px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media all and (max-width: 992px) {
      #carouselExampleIndicators .caption {
        left: 50px; } }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption {
        left: 16px; } }
    #carouselExampleIndicators .caption.d-none {
      display: block !important; }
    #carouselExampleIndicators .caption ul li {
      margin-left: 1.3em;
      font-size: 12px; }
    #carouselExampleIndicators .caption p {
      font-size: 16px; }
    #carouselExampleIndicators .caption button {
      text-transform: uppercase;
      font-size: 14px;
      background: #0685F3;
      border-radius: 7px;
      padding: 0.75rem 2rem;
      font-weight: 700; }
    #carouselExampleIndicators .caption h1 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption {
        text-align: center;
        top: 55%;
        left: 0;
        width: 100%; }
        #carouselExampleIndicators .caption h1 {
          font-size: 28px;
          width: 80%;
          margin-left: auto;
          margin-right: auto; }
        #carouselExampleIndicators .caption p {
          font-size: 14px;
          width: 70%;
          margin-left: auto;
          margin-right: auto; }
        #carouselExampleIndicators .caption button {
          font-size: 14px; } }
  #carouselExampleIndicators .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    #carouselExampleIndicators .carousel-item img {
      visibility: hidden;
      width: 100%;
      height: 100vh; }
  #carouselExampleIndicators .carousel-indicators {
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    bottom: 15%; }
    @media all and (max-width: 992px) {
      #carouselExampleIndicators .carousel-indicators {
        margin-left: 50px;
        bottom: 13%; } }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .carousel-indicators {
        justify-content: center;
        margin-left: 15%;
        bottom: 0; } }
    #carouselExampleIndicators .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      margin: 0px 5px;
      background: gray; }
      #carouselExampleIndicators .carousel-indicators li.active {
        background: #fff;
        width: 16px;
        height: 16px; }

.our-client {
  text-align: center;
  background: #fff; }
  .our-client h2 {
    padding-top: 0;
    margin: 2rem 0; }
    .our-client h2:first-child {
      margin-top: 0; }
  .our-client .taught {
    width: 265px;
    height: auto;
    display: inline-block;
    margin: 0 50px; }
    .our-client .taught:nth-child(2) {
      margin-left: 0; }
    .our-client .taught:nth-child(3) {
      margin-right: 0; }
  .our-client .client {
    width: 198px;
    height: auto;
    display: inline-block;
    margin: 0 20px 20px; }
  @media all and (max-width: 768px) {
    .our-client .taught {
      margin: 0 30px;
      width: 190px; }
    .our-client .client {
      width: 175px; } }
  @media all and (max-width: 576px) {
    .our-client .taught {
      width: 133px; }
    .our-client .client {
      width: 166px; } }

.our-camp {
  text-align: center;
  background: #E9F4FB; }
  .our-camp .title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem; }
    .our-camp .title p {
      font-size: 16px;
      margin-bottom: 2rem; }
    @media all and (max-width: 768px) {
      .our-camp .title {
        width: 85%; } }
    @media all and (max-width: 576px) {
      .our-camp .title {
        font-size: 24px; }
        .our-camp .title p {
          font-size: 14px; } }
  .our-camp .row {
    max-width: calc(100% - $padding);
    margin: 0 auto; }
    .our-camp .row .card {
      padding: 0;
      border: none;
      border-radius: 0;
      position: relative;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .our-camp .row .card:first-child {
        margin-left: 0; }
      .our-camp .row .card:last-child {
        margin-right: 0; }
      .our-camp .row .card:hover {
        box-shadow: 0px 10px 20px 0px #b5b2b2;
        -ms-transform: scale(1.01);
        /* IE 9 */
        -webkit-transform: scale(1.01);
        /* Safari */
        transform: scale(1.01); }
        .our-camp .row .card:hover .card-body {
          background: #0685F3;
          color: #fff; }
      .our-camp .row .card img {
        height: 50%;
        max-height: 50%;
        min-height: 50%; }
      .our-camp .row .card h2 {
        position: absolute;
        padding: 0;
        left: 50%;
        top: 25%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        text-transform: capitalize; }
      .our-camp .row .card p {
        font-size: 16px; }
      .our-camp .row .card .card-body {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-size: 16px;
        padding: 1rem;
        text-align: left; }
        .our-camp .row .card .card-body ul li {
          margin-left: 1.3em; }
        .our-camp .row .card .card-body p {
          margin: 0; }
        @media all and (max-width: 576px) {
          .our-camp .row .card .card-body p {
            font-size: 14px; }
          .our-camp .row .card .card-body ul li {
            font-size: 14px; } }

.testimonials {
  text-align: center;
  position: relative;
  background: #0685F3;
  color: #fff; }
  .testimonials .background {
    width: 60%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; }
    @media all and (max-width: 576px) {
      .testimonials .background {
        width: 90%;
        height: 50%; } }
  .testimonials h2 {
    margin-bottom: 2rem; }
  .testimonials .autoplay .slick-prev:before, .testimonials .autoplay .slick-next:before {
    display: none; }
  .testimonials .autoplay .slick-prev {
    left: -15px;
    z-index: 100;
    background-image: url("../image/svg/left-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .testimonials .autoplay .slick-next {
    right: -15px;
    z-index: 100;
    background-image: url("../image/svg/right-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .testimonials .autoplay .row {
    margin: 0;
    align-items: center; }
    .testimonials .autoplay .row .elip-big {
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 50%; }
      .testimonials .autoplay .row .elip-big .elip-small {
        height: 100%;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 50%; }
        .testimonials .autoplay .row .elip-big .elip-small img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
    .testimonials .autoplay .row .cap {
      text-align: left; }
      @media all and (max-width: 576px) {
        .testimonials .autoplay .row .cap {
          margin-top: 1rem;
          text-align: center; } }
      .testimonials .autoplay .row .cap h3 {
        font-weight: bold;
        margin-bottom: 0;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0.5rem; }
      .testimonials .autoplay .row .cap span {
        text-transform: capitalize;
        font-size: 14px; }
      .testimonials .autoplay .row .cap p {
        font-size: 18px;
        margin-bottom: 0; }

.journey {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 100; }
  .journey .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30%;
    height: 50%;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }
  .journey .row {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    z-index: 100; }
    @media all and (max-width: 576px) {
      .journey .row {
        flex-direction: column-reverse; } }
    .journey .row .text {
      padding: 2rem; }
      .journey .row .text h2 {
        color: #0D2645;
        margin-bottom: 2rem; }
        @media all and (max-width: 576px) {
          .journey .row .text h2 {
            margin-bottom: 1rem; } }
      .journey .row .text ul {
        margin-bottom: 2rem; }
        @media all and (max-width: 576px) {
          .journey .row .text ul {
            margin-bottom: 1rem; } }
        .journey .row .text ul li {
          margin-left: 1.3em;
          font-size: 16px;
          line-height: 1.1;
          color: #262626;
          margin-bottom: 1rem; }
          @media all and (max-width: 576px) {
            .journey .row .text ul li {
              font-size: 14px; } }
      .journey .row .text .btn {
        text-transform: uppercase;
        margin-top: 0.5em;
        font-size: 14px;
        font-weight: bold; }
      .journey .row .text .btn-blue {
        background: #0685F3;
        margin-right: 2vmin;
        color: #fff; }
        @media all and (max-width: 576px) {
          .journey .row .text .btn-blue {
            padding: .375rem 3.45rem; } }
      .journey .row .text .btn-light {
        background: #fff;
        border: 1px solid #333;
        color: #262626; }
    .journey .row .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      @media all and (max-width: 576px) {
        .journey .row .image {
          border-top-left-radius: 5px;
          border-bottom-right-radius: 0; } }

.curriculum {
  background: #fff; }
  .curriculum .foundation {
    margin: 1rem 0; }
    .curriculum .foundation .slick-prev {
      z-index: 100;
      left: 0; }
      .curriculum .foundation .slick-prev::before {
        color: gray; }
    .curriculum .foundation .slick-next {
      right: 0;
      z-index: 100; }
      .curriculum .foundation .slick-next::before {
        color: gray; }
    .curriculum .foundation .slick-slide img {
      width: 100%; }
    .curriculum .foundation .slick-slide .card-body .card-title {
      position: absolute;
      top: 1em;
      left: 1em; }

.blockchain {
  background: #949292;
  text-align: center; }
  .blockchain h2 {
    width: 60%;
    line-height: 1.3;
    margin: 0 auto 2rem; }
  .blockchain iframe {
    margin: 0;
    border: 0; }

.our-staff {
  background: #fff; }
  .our-staff h2 {
    text-align: center;
    margin-bottom: 1em; }
  .our-staff .staff .slick-prev {
    z-index: 100;
    left: -15px; }
    .our-staff .staff .slick-prev::before {
      color: gray; }
  .our-staff .staff .slick-next {
    right: -15px;
    z-index: 100; }
    .our-staff .staff .slick-next::before {
      color: gray; }
  .our-staff .staff .card {
    background: none;
    border: none; }
    .our-staff .staff .card .top {
      height: 4.5em;
      position: relative;
      padding-left: 6rem; }
      .our-staff .staff .card .top img {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        left: 0;
        top: 0; }
      .our-staff .staff .card .top .info h3 {
        text-transform: capitalize; }

.trips {
  position: relative; }
  .trips h2 {
    text-align: center; }
  .trips .slider {
    width: 100%;
    margin: 20px auto; }
  .trips .slick-slide {
    margin: 0px 20px; }
  .trips .slick-slide img {
    width: 100%; }
  .trips .slick-prev:before,
  .trips .slick-next:before {
    color: black; }
  .trips .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2; }
  .trips .slick-active {
    opacity: 0.5; }
  .trips .slick-current {
    opacity: 1; }
  .trips .slick-dots {
    display: none !important; }
  .trips .image-for {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vmin; }
  .trips .image-nav {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15vmin; }
  .trips .slider-for .slick-slide {
    margin: 0px; }
  .trips .slick-prev {
    z-index: 100;
    left: 0; }
    .trips .slick-prev::before {
      color: gray; }
  .trips .slick-next {
    right: 0;
    z-index: 100; }
    .trips .slick-next::before {
      color: gray; }

.faq h2 {
  text-align: center; }
.faq .group {
  margin-bottom: 1rem; }
  .faq .group button {
    width: 100%;
    background: #949292;
    text-align: left; }

/*# sourceMappingURL=main.css.map */
