@mixin background-image(){
 	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@mixin translateY($y){
    -webkit-transform: translateY($y);
    transform: translateY($y);
}
@mixin translate($x,$y){
    -webkit-transform: translate($x,$y);
    transform: translate($x,$y);
}
@mixin translate3d($x,$y,$z){
    -webkit-transform: translate3d($x,$y,$z) !important;
    transform: translate3d($x,$y,$z) !important;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
          transition: $transition;
}
@mixin scale($s){
	-ms-transform: scale($s); /* IE 9 */
    -webkit-transform: scale($s); /* Safari */
    transform: scale($s); 
}
@mixin opacity($x){
    opacity: $x;
    filter: alpha(opacity= $x * 100);
}
@mixin fit-content-width(){
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
@mixin fit-content-height(){
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
          animation: $animation;
}
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
@mixin rotateY($r){
     -ms-transform: rotateY($r); /* IE 9 */
    -webkit-transform: rotateY($r); /* Safari */
    transform: rotateY($r); 
}
@mixin rotateX-translate($r,$t){
    -webkit-transform: rotateX($r) translateY($t);
            -ms-transform: rotateX($r) translateY($t);
                transform: rotateX($r) translateY($t);
}
@mixin hover($color){
    position: relative;
    &::after{
        bottom: -5px;
        content: '';                     
        position: absolute;
        width: 0%;
        left: 50%;
        border-bottom: 1px solid $color;
        @include translate(-50%,0);
        @include transition(width 0.2s ease-in-out);
    }
    &:hover{
        &::after{
            width: 20px;
        }
    }
}
@mixin padding(){
    padding: 0 $padding;
    @media all and (max-width: 992px){
        padding: 0 $padding-tablet;
    }
        @media all and (max-width: 576px){
        padding: 0 $padding-mobile;
    }
}
//CSS3 animation to-down
//----------------------------------
@keyframes to-down{
    0% {@include translateY(-100%)};
    100% {@include translateY(0%)}
};
@-webkit-keyframes to-down{
  0% {@include translateY(-100%)};
    100% {@include translateY(0%)}
};

//CSS3 animation to-down
//----------------------------------
@keyframes to-top{
    0% {@include translateY(0%)};
    100% {@include translateY(-100%)}
};
@-webkit-keyframes to-top{
    0% {@include translateY(0%)};
    100% {@include translateY(-100%)}
};

//CSS3 animation to-down
//----------------------------------
@keyframes width{
    0% {width: 0%};
    100% {width: 40%}
};
@-webkit-keyframes width{
    0% {width: 0%};
    100% {width: 40%}
};

//CSS3 animation to-down
//----------------------------------
@keyframes width-out{
    0% {width: 40%};
    100% {width: 0%}
};
@-webkit-keyframes width-out{
    0% {width: 40%};
    100% {width: 0%}
};
//CSS3 animation to-down
//----------------------------------
@keyframes width-small{
    0% {width: 0%};
    100% {width: 25%}
};
@-webkit-keyframes width-small{
    0% {width: 0%};
    100% {width: 25%}
};

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}