//Background
$bg-white: #fff;
$bg-gray: #949292;
$bg-blue: #0685F3;
$bg-blue-light: #E9F4FB;
$bg-body: #e5e5e5;
$bg-black: #333;
$bg-black-opacity: rgba(38, 38, 38, 0.5);

//Color
$color-white: #fff;
$color-active: gray;
$color-black: #333;
$color-navy: #0D2645;
$color-black-light: #262626; 
$color-gray: #D4D4D4;
$color-blue: #0685F3;
$color-arrow: #434343;

//Border
$border-header: #F3F3F3;
$border-opacity: rgba(255, 255, 255, 0.5);

//Button hover
$light-hover:#262626;
$blue-hover: #02549A;

// Font-size
$size-small: 12px;
$size-normal: 16px;
$size-big: 24px;
$size-h2: 32px;
$size-h3: 26px;

//padding
$padding: 100px;
$padding-tablet: 50px;
$padding-mobile: 16px;

//Z-index
$Z-index1: 100;
$Z-index5: 500;

//Fonts
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//Shadow
$shadow: #b5b2b2;
$button-shadow: rgba(35, 35, 35, 0.2);

//font-weight
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;